:root {
  --btn-padding: 10px 20px 10px 20px;
  --btn-border: 1px solid #808080;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.menubutton {
  width: 90px;
  padding: 0;
  margin: 0;
  border: var(--btn-border);
  border-radius: 20px;
}

.menubutton:hover {
  cursor: pointer;
}

.logo {
  border: var(--btn-border);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2em;
  color: #393939;
  text-align: center;
  padding: 0px 5px 0px 5px;
}

.menuelem {
  width: 100%;
  color: red;
  text-align: right;
  display: flex;
  align-items: center;
  padding: var(--btn-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_btn {
  font-weight: bold;
  color: #393939;
  text-align: center;
  width: 90px;
  padding: var(--btn-padding);
  border: var(--btn-border);
  border-radius: 20px;
  text-decoration: none;
}

.book_btn:hover{
  color: black;
}

.hidden_menu {
  position: absolute;
  display: flex;
  top: 90px;
  width: 100%;
  height: calc(100dvh - 90px);
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  background-color: #e1e1e1;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

.hidden_menu.open {
  visibility: visible;
  opacity: 1;
}

.hidden_menu_link {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

.hidden_menu_link:hover{
  font-weight: bold;
}



