.leaf_hero {
  width: 100px;
}

.hero_header {
  margin: 0px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.services_header {
  font-size: 1.5em;
  font-weight: 0;
}

.book_btn.hero {
  position: absolute;
  bottom: 20px;
}

.book_btn.hero:hover{
  color: black;
}


