.blog-section {
  background: #f0f0f0 url("../cover_2.jpg") no-repeat center / cover;
  height: 40vh;
  background-size: cover;
  background-position: 0% 70%;
  color: #333;
}

.blog-wrapper {
  /* background-color: pink; */
  width: 100vw;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.blog-content {
  padding: 25px 0px 25px 0px;
  width: 75%;
  /* background-color: red; */
}
