* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.navbar {
  z-index: 2;
  width: 100%;
  height: 90px;
  position: fixed;
}

.logo {
  display: flex;
  position: fixed;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.menuitems {
  z-index: 2;
  display: flex;
  /* border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */
  height: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: rgb(200, 200, 200);
  padding: 0px 20px 0px 20px;
}

.menuelem {
  z-index: 2;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;
  list-style-type: none;
  max-height: 20px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}

.logo a {
  padding: 1px 5px 1px 5px;
  border: 1px solid rgb(57, 57, 57);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2em;
  color: #393939;
}

.logo img {
  height: 25vh;
  max-height: 70px;
}

.hidden_menu {
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: lightgray;
  top: -100%;
  /* visibility: hidden; */
  transition: top 0.5s ease; /* The animation transition */
}

.hidden_menu a {
  text-align: left;
  text-decoration: none;
  color: rgb(57, 57, 57);
  font-family: "Times New Roman", Times, serif;
}

.hero {
  /* background-image: url("../cover_2.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  color: #393939;
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.hero_logo_blk {
  width: 100px;
}

.book_btn {
  position: absolute;
  bottom: 20px;
  padding: 10px;
  box-shadow: none;
  border: none;
  border: 2px solid #f5f3f1;
  border-radius: 20px;
  background-color: #c8c8c8;
  padding: 10px 10px 10px 10px;
  color: rgb(57, 57, 57);
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;
}

.expl_section {
  height: 100vh;
  background-color: #d3d3d3;
  color: #393939;
  padding: 20px;
}

.booka_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8c8c8;
  padding: 10px;
}
